db.sqlite3
__pycache__/forms.cpython-35.pyc
migrations/__pycache__/0002_auto_20170319_2236.cpython-35.pyc
migrations/__pycache__/0003_auto_20170319_2108.cpython-35.pyc
migrations/__pycache__/0004_auto_20170320_1716.cpython-35.pyc
migrations/__pycache__/0005_auto_20170321_1533.cpython-35.pyc
migrations/__pycache__/0006_edit_details.cpython-35.pyc
migrations/__pycache__/0007_auto_20170324_1948.cpython-35.pyc
migrations/__pycache__/0008_merge_20170324_1730.cpython-35.pyc
migrations/__pycache__/0009_remove_register_c_ad_details.cpython-35.pyc
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/
.idea/inspectionProfiles/
.idea/vcs.xml
.idea/workspace.xml
company/__pycache__/forms.cpython-35.pyc
company/migrations/__pycache__/0002_auto_20170319_2236.cpython-35.pyc
company/migrations/__pycache__/0003_auto_20170319_2108.cpython-35.pyc
company/migrations/__pycache__/0004_auto_20170320_1716.cpython-35.pyc
company/migrations/__pycache__/0005_auto_20170321_1533.cpython-35.pyc
company/migrations/__pycache__/0006_edit_details.cpython-35.pyc
company/migrations/__pycache__/0007_auto_20170324_1948.cpython-35.pyc
company/migrations/__pycache__/0008_merge_20170324_1730.cpython-35.pyc
company/migrations/__pycache__/0009_remove_register_c_ad_details.cpython-35.pyc
home/__pycache__/
home/migrations/__pycache__/
student/__pycache__/
student/migrations/__pycache__/
