<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Placement Management System</title>
  <meta name="description" content="A web portal for hiring process">
  <meta name="author" content="IIT Kharagpur">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

</head>

<body>

<h1>
Placement Management System
</h1>

<div>
<span>Enter your email id to get started</span>
</div>
  <script src="js/scripts.js"></script>
</body>
</html>
