{% extends 'home/user_profile.html' %}

{% block title %}
    Change Password
{% endblock %}

{% block name %}
{{username}}
{% endblock %}

{%block main_body%}

<div class="container-fluid" style="background: rebeccapurple;">
<form class="form-horizontal" action="/student/changed" method="post">
    {% csrf_token %}
<fieldset>

<!-- Form Name -->
<legend class="text-primary">Change Password</legend>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label text-primary" for="piCurrPass">Old Password</label>
  <div class="col-md-4">
    <input id="piCurrPass" name="piCurrPass" type="password" placeholder="" class="form-control input-md" required="">

  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label text-primary" for="piNewPass">New Password</label>
  <div class="col-md-4">
    <input id="piNewPass" name="piNewPass" type="password" placeholder="" class="form-control input-md" required="">

  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label text-primary" for="piNewPassRepeat">Confirm New Password</label>
  <div class="col-md-4">
    <input id="piNewPassRepeat" name="piNewPassRepeat" type="password" placeholder="" class="form-control input-md" required="">

  </div>
</div>

<!-- Button (Double) -->
<div class="form-group">
  <label class="col-md-4 control-label " for="bCancel"></label>
  <div class="col-md-8">
    <button id="bGodkend" name="bGodkend" class="btn btn-success">Submit</button>
  </div>
</div>

</fieldset>
</form>
</div>
{% endblock %}