{% extends 'home/user_profile.html' %}
{% block title %}    Hi {{ username }} {% endblock %}
{% block name %}
{{username}}
{% endblock %}


{%block main_body%}

<div style="background: rebeccapurple;">
    <div class="listing container-fluid">
    <h1>EDIT DETAILS!!!!</h1>
        <div style="color: black;">
    <form  class="form-horizontal" method="POST" action="/student/success/" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_ul }}
         <div class="form-group">
                            <div class="col-sm-offset-5 col-sm-10">
        <button type="submit" class="btn btn-success">Submit</button>
                            </div>

         </div>
</form>
</div>
    </div>
</div>
{% endblock %}