{% extends 'home/recruiter_profile.html' %}
{%  block title %} Job List Posted{% endblock %}
{% block name %}
{{username}}
{% endblock %}

{%block main_body%}

<div class="table-responsive listing">
<h1 class="page-header lead">Posted Job List</h1>
    <table class="table table-bordered">
    <tr>
        <th>Job ID</th>
        <th>Job Position</th>
        <th>Company ID</th>
        <th>CTC offered </th>
        <th>Degree Required</th>
        <th>Branch Required</th>
        <th>Publish Date</th>
        <th>Expiry Date</th>
        <th>Students Applied</th>
    </tr>
    {% for item in form %}
    <tr>
        <td>{{ item.id}}</td>
        <td>{{ item.c_position }}</td>
        <td>{{ item.register_id }}</td>
        <td>{{ item.c_ctc_offered }}</td>
        <td>{{ item.c_course }}</td>
        <td>{{ item.c_branch }}</td>
        <td>{{ item.date_published }}</td>
        <td>{{ item.date_expiry }}</td>
        <td><a href="/company/student_list/{{ item.id }}">View</a></td>

    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}